$black: #231f20;
$grey: #7d7987;
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  // font-family: "Roboto", "Helvetica", "Arial",  sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  max-width: 100%;
}
.faux-h1 {
  font-size: 2.5rem;
}
.m-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.section {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .intro-container {
    .row {
      display: block;
    }
    div#carouselExampleIndicators {
      margin-top: 80px;
      width: 100%;
    }
    .carousel img {
      // max-height: 800px;
      max-height: 500px;
      min-height: 500px;
      width: 100%;
      border-radius: unset;
      overflow: hidden;
      object-fit: cover;
      object-position: top center;
    }
  }
}
.intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button-wrapper {
    width: 100%;
  }

  p {
    width: 100%;
  }
}
button.intro {
  align-self: start;
}

.about-natasha {
  .row {
    &.natasha-sarah {
      display: flex;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  hr {
    max-width: 80px;
    border: 2px solid $black;
    border-radius: 5px;
  }
}

.image-wrapper {
  &.circle {
    max-width: 500px;
    border-radius: 50%;
    height: 500px;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
  }
  &.natasha-sarah {
    display: flex;
    justify-content: center;
  }
}

.align {
  &-center {
    display: flex;
    align-items: center;
  }
}

footer {
  height: 80px;
  margin-top: 80px;

  .row {
    justify-content: space-around;
  }
}

li {
  padding-top: 20px;
  font-size: 18px;
}
.donor-ethnicity {
  justify-content: center;
}

.carousel img {
  // max-height: 800px;
  max-height: 500px;
  min-height: 500px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: top center;
}

.cta-bottom {
  display: flex;
  justify-content: center;
}

#how {
  .container.text-center {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.factoid {
  padding-top: 80px;
  padding-bottom: 80px;
}

a.navbar-brand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
